//
//  Secrets.xcconfig
//  ArboreUi
//
//  Created by hugo rath on 08/02/2026.
//

// Secrets.xcconfig
// ⚠️ Ne JAMAIS commit ce fichier dans Git

// === SÉCURITÉ ===
// Clé API pour authentifier l'application iOS auprès du backend
ARBORE_API_KEY = arbore_ios_v1_bnoKtos1t9DttOLdhA4vvRWVzUr6UYrAHtYdWEfEsXPMh6v84iLN7nSA0izrY6xS

// === BACKEND ===
// Protocole du backend (http ou https)
ARBORE_BACKEND_PROTOCOL = http

// Host du backend (IP:port ou domaine:port)
ARBORE_BACKEND_HOST = 79.137.92.154:8080
