<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ARBORE_API_KEY</key>
	<string>$(ARBORE_API_KEY)</string>
	<key>ARBORE_BACKEND_HOST</key>
	<string>$(ARBORE_BACKEND_HOST)</string>
	<key>ARBORE_BACKEND_PROTOCOL</key>
	<string>$(ARBORE_BACKEND_PROTOCOL)</string>
	<key>SENTRY_DSN_PUBLIC_KEY</key>
	<string>$(SENTRY_DSN_PUBLIC_KEY)</string>
	<key>SENTRY_DSN_HOST</key>
	<string>$(SENTRY_DSN_HOST)</string>
	<key>SENTRY_DSN_PROJECT_ID</key>
	<string>$(SENTRY_DSN_PROJECT_ID)</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Arbore</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.66927287937-72cn4i6cjliekvs01mr0i0ac3tdm7fsp</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>6</string>
	<key>FirebaseAutomaticScreenReportingEnabled</key>
	<true/>
	<key>GIDClientID</key>
	<string>66927287937-72cn4i6cjliekvs01mr0i0ac3tdm7fsp.apps.googleusercontent.com</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>79.137.92.154</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<false/>
			</dict>
		</dict>
	</dict>
	<key>NSCalendarsFullAccessUsageDescription</key>
	<string>Arbore utilise ton calendrier pour planifier les rappels d'arrosage de tes plantes.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Arbore utilise ton calendrier pour planifier les rappels d'arrosage de tes plantes.</string>
	<key>NSCameraUsageDescription</key>
	<string>L'application a besoin d'accéder à la caméra pour placer des plantes en réalité augmentée.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Utiliser Face ID pour vous connecter plus rapidement</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Nécessaire pour calculer la position du soleil par rapport à votre fenêtre.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>L'application a besoin d'accéder au microphone pour certaines fonctionnalités.</string>
	<key>NSWorldSensingUsageDescription</key>
	<string>Nous utilisons le scanner LiDAR pour créer un plan 3D précis de votre espace.</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
